<a href="https://colab.research.google.com/github/fsluizvictor/linear-regression-mult-variables/blob/main/linear_regression_mult_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data2.csv to data2 (1).csv

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [ ]:
data = pd.read_csv('data2.csv',header=0,names=["dimension","amount_bedrooms","price"])
data_normalizeds = pd.read_csv('data2.csv',header=0,names=["dimension","amount_bedrooms","price"])

Feature Normalization

In [ ]:
data.head()
data_normalizeds.head()

   dimension  amount_bedrooms   price
0       1600                3  329900
1       2400                3  369000
2       1416                2  232000
3       3000                4  539900
4       1985                4  299900

In [ ]:
average = np.mean(data_normalizeds) 
print(average)

dimension            1998.434783
amount_bedrooms         3.173913
price              339119.456522
dtype: float64

In [ ]:
for i in range(len(data_normalizeds['dimension'])):
  data_normalizeds['dimension'][i] -= average['dimension']
  data_normalizeds['amount_bedrooms'][i] -= average['amount_bedrooms']
  data_normalizeds['price'][i] -= average['price']

print(data)

    dimension  amount_bedrooms   price
0        1600                3  329900
1        2400                3  369000
2        1416                2  232000
3        3000                4  539900
4        1985                4  299900
5        1534                3  314900
6        1427                3  198999
7        1380                3  212000
8        1494                3  242500
9        1940                4  239999
10       2000                3  347000
11       1890                3  329999
12       4478                5  699900
13       1268                3  259900
14       2300                4  449900
15       1320                2  299900
16       1236                3  199900
17       2609                4  499998
18       3031                4  599000
19       1767                3  252900
20       1888                2  255000
21       1604                3  242900
22       1962                4  259900
23       3890                3  573900
24       1100                3  249900
25       1458                3  464500
26       2526                3  469000
27       2200                3  475000
28       2637                3  299900
29       1839                2  349900
30       1000                1  169900
31       2040                4  314900
32       3137                3  579900
33       1811                4  285900
34       1437                3  249900
35       1239                3  229900
36       2132                4  345000
37       4215                4  549000
38       2162                4  287000
39       1664                2  368500
40       2238                3  329900
41       2567                4  314000
42       1200                3  299000
43        852                2  179900
44       1852                4  299900
45       1203                3  239500

In [ ]:
standard_deviation = np.std(data)
print(standard_deviation)

dimension             794.553160
amount_bedrooms         0.760559
price              124725.197551
dtype: float64

In [ ]:
for i in range(len(data_normalizeds['dimension'])):
  data_normalizeds['dimension'][i] -= average['dimension']
  data_normalizeds['amount_bedrooms'][i] -= average['amount_bedrooms']
  data_normalizeds['price'][i] /= standard_deviation['price']

print(data)

    dimension  amount_bedrooms   price
0        1600                3  329900
1        2400                3  369000
2        1416                2  232000
3        3000                4  539900
4        1985                4  299900
5        1534                3  314900
6        1427                3  198999
7        1380                3  212000
8        1494                3  242500
9        1940                4  239999
10       2000                3  347000
11       1890                3  329999
12       4478                5  699900
13       1268                3  259900
14       2300                4  449900
15       1320                2  299900
16       1236                3  199900
17       2609                4  499998
18       3031                4  599000
19       1767                3  252900
20       1888                2  255000
21       1604                3  242900
22       1962                4  259900
23       3890                3  573900
24       1100                3  249900
25       1458                3  464500
26       2526                3  469000
27       2200                3  475000
28       2637                3  299900
29       1839                2  349900
30       1000                1  169900
31       2040                4  314900
32       3137                3  579900
33       1811                4  285900
34       1437                3  249900
35       1239                3  229900
36       2132                4  345000
37       4215                4  549000
38       2162                4  287000
39       1664                2  368500
40       2238                3  329900
41       2567                4  314000
42       1200                3  299000
43        852                2  179900
44       1852                4  299900
45       1203                3  239500

Descendent Gradient

In [ ]:
data.head()

   dimension  amount_bedrooms   price
0       1600                3  329900
1       2400                3  369000
2       1416                2  232000
3       3000                4  539900
4       1985                4  299900

In [ ]:
data_normalizeds.head()

   dimension  amount_bedrooms  price
0      -2396               -3      0
1      -1597               -3      0
2      -2580               -4      0
3       -997               -3      1
4      -2011               -3      0

In [ ]:
X = np.array([data_normalizeds['dimension'],data_normalizeds['amount_bedrooms']]).T
y = np.array(data_normalizeds['price'])

In [ ]:
AlPHA = 0.01
EPOCHS = 30

In [ ]:
def predict(theta, X):
  return np.dot(X,theta)

In [ ]:
def medium_quadratic_error(predicted, y):
    return np.array([(y_i - y_predicted) ** 2 for y_predicted, y_i in zip(predicted,y)]).mean()

In [ ]:
def descendent_gradient(theta,X,y,alpha):

  error = predict(theta,X) - y
  gradient = np.dot(X.T, error)/(2*len(y))
  theta -= alpha*gradient

In [ ]:
X = np.c_[np.ones(X.shape[0]),X]

theta = np.random.rand(X.shape[1])

for i in range(EPOCHS):
  coust = medium_quadratic_error(predict(theta,X),y)
  #if i%1000 == 0:
  print(coust)
  descendent_gradient(theta,X,y,AlPHA)

307466.4574718952
164232829587252.44
8.772517310303419e+22
4.685851187791202e+31
2.5029533231396714e+40
1.3369556750198432e+49
7.141365603756488e+57
3.814569446048341e+66
2.0375570816695726e+75
1.0883636855432449e+84
5.813508355990048e+92
3.105292822067722e+101
1.6586960782209344e+110
8.859946026196386e+118
4.732551346676375e+127
2.5278982719202346e+136
1.3502800508789264e+145
7.212537925494206e+153
3.852586231488118e+162
2.057863795570241e+171
1.0992105423901185e+180
5.871446978670254e+188
3.1362408104616764e+197
1.675226985262317e+206
8.948246074694609e+214
4.779716928971833e+223
2.553091827202529e+232
1.363737220214525e+241
7.284419565261916e+249
3.890981900048417e+258